<div class="container mt-4">
    <h3>Contatos Cadastrados</h3>

  @if (contatos.length > 0) {

    <table class="table table-striped table-bordered">

      <thead class="table-dark">
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>E-mail</th>
          <th>Aniversário</th>
          <th>Tipo</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        @for (contato of contatos; track $index) {
          <tr>
            <td>{{ contato.getNome() }}</td> 
            <td>{{ contato.getTelefone() }}</td>
            <td>{{ contato.getEmail() }}</td>
            <td>{{ contato.getAniversario() | date:'dd/MM/yyyy'}}</td>
            <td>{{ contato.getTipo() }}</td>
            <td><button class="btn btn-danger" (click)="remover(contato)">Remover</button></td>
          </tr>
        }
      </tbody>

    </table>

    <hr>

  } @else {

    <div class="alert alert-info">
      Nenhum contato cadastrado.
    </div>

    <hr>

  }
</div>